<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="userAccount" type="nightplex.model.Account"*/-->
<head th:replace="game :: site-head"></head>

<body>
<!-- Here I use template to keep code more clean -->
<div th:replace="game :: site-header"></div>
<div th:replace="game :: site-left-bar"></div>

<div id="wrapper">
    <div th:replace="game :: site-menu"></div>
    <!-- Barkeeping header/links -->

    <div class="col-lg-12" th:fragment="barkeeping">
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    <a class="closebox"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <div class="text-center m-b-md">
                    <h3>Welcome to the bar!</h3>
                    <h4>[Do you want to buy the tavern?]</h4>
                    <h5>Your bar is: <span th:text="${userAccount.barkeeping.barIsClosed}"></span></h5>
                    <small>A lightweight, extensible directive for fancy tooltip creation. The tooltip directive
                        supports
                        multiple placements, optional transition animation, and more.
                    </small>
                </div>

                <div class="tooltip-demo text-center">
                    <form th:action="@{/game/toggle}" method="post">
                        <button type="submit" class="btn btn-sm btn-default" data-toggle="tooltip" data-placement="left"
                                title="Tooltip on left"><span
                                th:if="${userAccount.barkeeping.barIsClosed}">Open the bar</span>
                            <span th:if="${!userAccount.barkeeping.barIsClosed}">Close the bar</span>
                        </button>
                    </form>
                    <button type="button" class="btn btn-sm btn-default" data-toggle="tooltip" data-placement="top"
                            title="Tooltip on top">Tooltip on top
                    </button>
                    <button type="button" class="btn btn-sm btn-default" data-toggle="tooltip" data-placement="bottom"
                            title="Tooltip on bottom">Tooltip on bottom
                    </button>
                    <button type="button" class="btn btn-sm btn-default" data-toggle="tooltip" data-placement="right"
                            title="Tooltip on right">Tooltip on right
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="game :: site-footer"></div>

</body>
</html>