<!-- Template for in game design -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!--/*@thymesVar id="userAccount" type="nightplex.model.Account"*/-->
<!--/*@thymesVar id="drink" type="nightplex.model.template.skills.barkeeping.DrinkData"*/-->
<head th:replace="template/head :: site-head"></head>

<body>
<!-- Here I use template to keep code more clean -->
<div th:replace="template/header :: site-header"></div>
<div th:replace="template/leftbar :: site-left-bar"></div>

<div id="wrapper">

    <div th:replace="template/gamemenu :: site-menu"></div>

    <!-- Game content goes here:  -->
    <div>


    </div>
</div>

<div th:replace="template/footer :: site-footer"></div>


</body>
</html>